@media screen and (min-width:769px){
		
	/*
		create by nasir farhadi
		email : nasirfarhadi92@gmail.com
		Github : nasirfarhadi92
	*/

	.holderCircle{
		width:720px;
		height:720px;
		border-radius:100%;
		margin:60px auto;
		position:relative;
	}

	/* .holderCircle::after{
		content:'';
		width:500px;
		height:500px;
		border-radius:100%;
		border:1px solid #000;
		position:absolute;
		top:0;
	} */

	.dotCircle{
		width:100%;
		height:100%;
		position:absolute;
		margin:auto;
		top:0;
		left:0;
		right:0;
		bottom:0;
		border-radius:100%;
		z-index:20;
	}

	.dotCircle  .itemDot{
		display:block;
		width:80px;
		height:80px;
		position:absolute;
		border-radius:100%;
		text-align: center;
		line-height: 80px;
		font-size:30px;
		z-index:3;
		cursor:pointer;		
		filter: brightness(1);
	}

	.dotCircle .itemDot img{
		border-radius: 50%;
		box-shadow: none;
	}

	.dotCircle .itemDot.active img{
		box-shadow: 0 0 5px 8px #fff;
		transition: .5s;
	}

	.dotCircle  .itemDot .forActive{
		width:56px;
		height:56px;
		position:absolute;
		top:0;
		left:0;
		right:0;
		bottom:0;
		display:none;
	}


	.dotCircle  .itemDot.active .forActive{
		display:block;
	}

	.dotCircle .itemDot:hover{
		filter: brightness(1.2);
		transition:0.5s;
	}


	.contentCircle{
		width: 50%;
		height: 50%;
		border-radius: 100%;
		position: relative;
		top: 137px;
		right: 0;
		bottom: 0;
		left: 0;
		margin: auto;
	}

	.contentCircle .CirItem{
		border-radius: 100%;
		position: absolute;
		text-align: center;
		bottom: 0;
		left: 0;
		opacity: 0;
		transform: scale(0);
		transition: 0.5s;
		font-weight: bold;
		font-size: 13px;
		width: 100%;
		height: 100%;
		top: 0;
		right: 0;
		margin: auto;
		/* line-height: 250px; */
	}

	.CirItem.active{
		z-index:1;
		opacity:1;
		transform:scale(1);
		transition:0.5s;
	}


}