@charset "UTF-8";
@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
@font-face {
  font-family: GenJyuuGothic-Light;
  src: url(../font/GenJyuuGothic-Light.ttf);
}

@font-face {
  font-family: GenJyuuGothic-Bold;
  src: url(../font/GenJyuuGothic-Bold.ttf);
}

@font-face {
  font-family: GenJyuuGothic-Heavy;
  src: url(../font/GenJyuuGothic-Heavy.ttf);
}

@font-face {
  font-family: GenJyuuGothic-Medium;
  src: url(../font/GenJyuuGothic-Medium.ttf);
}

@font-face {
  font-family: GenJyuuGothic-Normal;
  src: url(../font/GenJyuuGothic-Normal.ttf);
}

@font-face {
  font-family: GenJyuuGothic-Regular;
  src: url(../font/GenJyuuGothic-Regular.ttf);
}

@font-face {
  font-family: GenJyuuGothic-ExtraLight;
  src: url(../font/GenJyuuGothic-ExtraLight.ttf);
}

@font-face {
  font-family: GenJyuuGothic-Monospace-Bold;
  src: url(../font/GenJyuuGothic-Monospace-Bold.ttf);
}

@font-face {
  font-family: 'wtf';
  src: url(../font/wft.ttf);
}

@font-face {
  font-family: '懷訪体';
  src: url(../font/懐訪体.ttf);
}

@font-face {
  font-family: Pigmo;
  src: url(../font/Pigmo-00_0.otf);
}

@font-face {
  font-family: 'KangXi';
  src: url(../font/TypeLand-com-KangXiZiDianTi-ShiYongBan-1.otf);
}
