/* first page============================================================== */
  .mt_first_page {
    background-image: url("../images/backGround.jpg");
    background-repeat: repeat;
    background-size: 100%;
    width: 100%;
    height: 100vh;
    position: relative;
    top: 0px;
    overflow: hidden;
}

.mt_first_page .container {
    position: relative;

}

.mt_bg_wrap {
    position: absolute;
    width: 100%;
    overflow: hidden;
}

.mt_first_page .mt_cloud {
    position: relative;
    width: 100%;
    /* height: 100vh; */
    overflow: hidden;
}

@keyframes cloudGo {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
    }

    100% {
        -webkit-transform: translate3d(-1431px, 0, 0);
    }
}

.mt_first_page .cloud_large {
    display: flex;
    flex-basis: row;
    position: relative;
    animation: 20s cloudGo linear infinite;
}

.bg_mt {
    position: relative;
    height: 100vh;
    width: 100%;
    /* overflow: hidden; */
}

.bg_mt img {
    width: 100%;
    position: absolute;
    bottom: 50%;
    pointer-events: none;
    z-index: 1;
}

.mt_trees {
    position: relative;
    
    z-index: 2;
    /* bottom:600px; */
    width: 100%;
    /* margin: auto; */
    /* display: flex;
        flex-direction: row;
        justify-content: space-evenly; */
}

.mt_trees img {
    position: absolute;
    width: 100%;
    bottom: -500px;
    /* float: left; */
}

#mt_water {
    width: 100%;
    /* height: 300px; */
    position: relative;
    bottom: 420px;
    z-index: 3;
}

#water_color_change {
    width: 100%;
    height: 300px;
    background: #ff9f9f;
    position: absolute;
    bottom: 100%;
    transition: 2s;
    
    z-index: 3;
}

#water_color_nochange {
    width: 100%;
    height: 300px;
    background-image:
        /* linear-gradient(225deg, #ffb199 10%, #7e2dff 90%), */
        linear-gradient(to bottom, transparent, #fff09b);
    background-blend-mode: screen;
    position: absolute;
    bottom: 50%;
    
    z-index: 4;
}

.mt_first_page{
    .wrap{
        z-index: 5;
    }
}

.herb {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        /* padding-top: 0px; */
        top: 100px;
        width: 100%;
        margin-top: -250px;
        // z-index: 5;
        /* position: absolute; */
    }

    .herb_cross {
        position: relative;
        box-sizing: border-box;
        padding: 135px;
        cursor: pointer;
    }

    #herb_cross2 {
        position: relative;
        box-sizing: border-box;
        padding: 135px;
        cursor: pointer;
    }

    .herb_cross img {
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
    }

    #herb_cross2 img {
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
    }



    .herb_cross:hover .sepia_cross {
        opacity: 0;
        transition: 0.3s;
    }

    #herb_cross2:hover .sepia_cross {
        opacity: 0;
        transition: 0.3s;
    }

    @keyframes crossGo {
        0% {
            -webkit-transform: rotate(0);
        }

        100% {
            -webkit-transform: rotate(-360deg);
        }
    }

    
/* first page 湯頭介紹============================================================== */

    .herb_cross:hover img {
        /* filter: drop-shadow(0 0 10px rgb(255, 255, 255)); */
        filter: brightness(1);
        animation: 15s crossGo linear infinite;
    }

    .herb_cross:hover {
        z-index: 5;
    }

    #herb_cross2:hover img {
        filter: brightness(1);
        animation: 15s crossGo linear infinite;
    }

    #herb_cross2:hover {
        z-index: 5;
    }

    .herb h3 {
        font-family: "pigmo";
        font-size: 33px;
        color: #000;
        -webkit-writing-mode: vertical-rl;
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: 110px;
        text-align: center;
    }

    .introduce {
        position: relative;
        /* height: 100vh; */
    }

    .introduce h3 {
        font-family:"pigmo" ;
        font-size: 39px;
        color: #000;
        margin-top: 5px;
        margin-right: 20px;
    }

    .introduce p {
        font-family: 'Noto Sans TC', sans-serif;
        font-size: 16px;
        font-weight: normal;
        color: #000;
    }

    .content {
        position: relative;
        padding-top: 350px;
        pointer-events: auto;
    }



    #content_frame {
        /* background-image: url("svg/SVG/cloud_clip.svg");
        background-repeat: no-repeat; */
        position: absolute;
        width: 900px;
        right: 100px;
        bottom:-20px;

    }


    #text_bubble {
        width: 900px;
        filter: drop-shadow(0 0 5px rgba(95, 69, 39, 0.7));
    }

    .sup_info {
        position: absolute;
        top: 75px;
        left: 270px;
        right: 0px;
    }

    .sup_info {
        width: 400px;
    }

    .custom_button {
        margin-top: 30px;
    }

    #spring_herb {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-bottom: 5px;
    }

    #spring_herb img {
        width: 40px;
        /* height: 50px; */
        margin: 0px 5px;
    }

    
    
    
    // 第二屏==========================================================================================================
    .an_monkeyMedicine{
        margin: auto;
        font-family: 'Noto Sans TC', sans-serif;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row-reverse;
        position: relative;
    }
    /* 大群 */
    .an_monkeyCabinet{
        display: none;
    }
    /* 藥籤諮詢 */
    .an_prescription{
        background-color: yellow;
    }
    .an_rescriptionWrap{
        width: 95%;
        background-image: url("../images/fabric.jpg"); 
        background-size: 100%;
        box-shadow: 5px 5px 10px rgba(71, 69, 69, 0.301);
        padding: 50px 0px;
        margin:50px auto;
    }
    // 進度表
    .an_schedule{
        width: 100%;
        display: flex;
        box-sizing: border-box;
        padding: 0 30px;
        align-items: center;
    }
    .an_circle{
        width: 7.4074074%;
        background-image: url("../images/cir.png");
        background-size: 100%;
        background-repeat: no-repeat;
        background-position-y: 50%;
        text-align: center;
        line-height: 26px;
        font-family: "源柔ゴシック";
        color:black;
    }
    .an_circle1{
        width: 7.4074074%;
        background-image: url("../images/cir2.png");
        background-size: 100%;
        background-repeat: no-repeat;
        background-position-y: 50%;
        text-align: center;
        line-height: 26px;
        font-family: "源柔ゴシック";
        color:black;
    }
    .an_scheduleLine{
        width: 11.111111%;
        height: 3px;
        background-color: #ceab5a;
    }
    @media screen and (min-width:768px){
       
    }
    @media screen and (min-width:992px){
        .my_second_page{
            background-image: url("../images/backGround.jpg");
            background-repeat: repeat;
            background-size: 100%;
            width: 100%;
            height: 100vh;
            position: relative;
            top: 0px;
        }
        .an_monkeyMedicine{
            max-width: 1200px;
            height: 100vh;
        }
        /* 猴子櫃子群 */
        .an_monkeyCabinet{
            height: 100vh;
            background-color: chartreuse;
            height: 100%;
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            // position: relative;
            /* overflow: hidden; */
        }
        /* 櫃子 */
        .an_cabinet{
            margin-bottom:200px;
            height: 48%;
            width: 100%;
            background-color: aqua;
            background-image: url("../images/cabinet.png");
            background-repeat: repeat;
            background-size: 100%;
            display: flex;
            flex-wrap: wrap;
            position: relative;
        }
        /* 抽屜一列 */
        .drawerWrap {
            width: 100%;
            height: 33.33333%;
            box-sizing: border-box;
            padding-right: 70px;
            /* background-color: #7d0022; */
            display: flex;
        }
    
        .drawer {
            box-sizing: border-box;
            width: 33.33333%;
            height: 100%;
            /* background-color: cyan;
            margin-right: 2px; */
            display: flex;
            justify-content:flex-end;
            align-items: center;
            /* background-image: url(img/close_drawer.png);
            background-repeat: no-repeat; */
        }
        .extend{
            height:132px;
            width: 0px;
            /* background-color: black; */
            background-image: url("../images/open_drawerside.png");
            background-size: 128%;
            transition: 0.5s;
        }
        .drawer>img {
            margin: 5px 0px 5px 5px;
            width: 88%;
            display: block;
            box-shadow: 5px 5px 5px black;
        }
        .drawer:hover .extend{
            width: 20px;
        }
        // 藥籤諮詢
        .an_rescriptionWrap{
            padding: 50px 0px;
            margin-top:50px;
        }
        // 進度條
        .an_schedule{
            width: 90%;
            height: 50px;
            margin: auto;
        }
        .an_circle{
            height: 100%;
            background-position-y: 50%;
            line-height: 50px;
        }
        .an_circle1{
            height: 100%;
            background-position-y: 50%;
            line-height: 50px;
        }
    } 
    @media screen and (min-width:1200px){
    } 