*{
    line-height: 1.5;
}


.btn_s{
    border: none;
    color: #ceae81;
    background-color: #000;
    cursor: pointer;
}

/* 第一屏============================================================== */
  .mt_first_page {
    background-image: url("../images/backGround.jpg");
    background-repeat: repeat;
    background-size: 100%;
    width: 100%;
    height: 100vh;
    position: relative;
    top: 0px;
    overflow: hidden;
}

.mt_first_page .container {
    position: relative;

}

/* 第一屏 霧特效============================================================== */
#kasumi_top_container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index:100;
    overflow: hidden;
    pointer-events: none;
}

#kasumi_top_container canvas {
    z-index:100;
    position: absolute;
    left: 0;
    bottom: 0;
    pointer-events: none;
    opacity: 0.5;
    animation: fogGo 3.5s ;
    // transition: 2s;
}
@keyframes fogGo {
    0% {
        
    opacity:1;
    }

    100% {   
    opacity: 0.5;
    }
}

/* 第一屏 背景============================================================== */

.mt_bg_wrap {
    position: absolute;
    width: 100%;
    overflow: hidden;
    bottom: 0px;
}

.mt_first_page .mt_cloud {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

@keyframes cloudGo {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
    }

    100% {
        -webkit-transform: translate3d(-1431px, 0, 0);
    }
}

.mt_first_page .cloud_large {
    display: flex;
    flex-basis: row;
    position: relative;
    // top:-100px;
    animation: 20s cloudGo linear infinite;
}

.bg_mt {
    background-image: url("../images/fjMountain.png");
    background-repeat: no-repeat;
    background-position-y:100px;
    background-size: contain;
    position: absolute;
    height: 100vh;
    width: 100%;
    bottom:0px;
    /* overflow: hidden; */
}

.bg_mt img {
    width: 100%;
    position: absolute;
    bottom: 500px;
    pointer-events: none;
    z-index: 1;
}

#mt_water {
    width: 100%;
    /* height: 300px; */
    position:absolute;
    
    bottom:0px;
    z-index: 3;
}

#mt_water{
    img{
        position: absolute;
        width: 100%;
        bottom:10vh;

    }
}
#water_color_change {
    width: 100%;
    height: 300px;
    background: #ff9f9f;
    position: absolute;
    transition: 2s;
    z-index: 3;
    bottom: 0px;
}

#water_color_nochange {
    width: 100%;
    height: 300px;
    background-image:
        /* linear-gradient(225deg, #ffb199 10%, #7e2dff 90%), */
        linear-gradient(to bottom, transparent, #fff09b);
    background-blend-mode: screen;
    position: absolute;
    bottom:0px;
    z-index: 4;
}


.mt_first_page{
    .wrap{
        z-index: 5;
    }
}

#water_wrap{
    position: relative;
    bottom: -400px;
}

#canvas {
    
    // position: fixed;
    // bottom:100px;
    top: 0;
    left: 0;
  }


/* 第一屏 療效花圈============================================================== */

.herb {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        /* padding-top: 0px; */
        /* top: 100px;*/
        width: 100%;
        margin-top: -250px;
        /* z-index: 5;*/
        /* position: absolute; */
        z-index: 50;
    }

    .herb_cross {
        position: relative;
        box-sizing: border-box;
        padding: 135px;
        cursor: pointer;
    }

    #herb_cross2 {
        position: relative;
        box-sizing: border-box;
        padding: 135px;
        cursor: pointer;
    }

    .herb_cross img {
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        transition: 0.5s;
    }

    #herb_cross2 img {
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
    }



    .herb_cross:hover .sepia_cross {
        opacity: 0;
        transition: 0.3s;
    }

    #herb_cross2:hover .sepia_cross {
        opacity: 0;
        transition: 0.3s;
    }

    @keyframes crossGo {
        0% {
            -webkit-transform: rotate(0);
        }

        100% {
            -webkit-transform: rotate(-360deg);
        }
    } 
    .herb_cross:hover img {
        /* filter: drop-shadow(0 0 10px rgb(255, 255, 255)); */
        filter: brightness(1);
        animation: 15s crossGo linear infinite;
    }

    .herb_cross:hover {
        z-index: 5;
    }

    #herb_cross2:hover img {
        filter: brightness(1);
        animation: 15s crossGo linear infinite;
    }

    #herb_cross2:hover {
        z-index: 5;
    }

    .herb h3 {
        font-family: "pigmo";
        font-size: 33px;
        color: #000;
        -webkit-writing-mode: vertical-rl;
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: 110px;
        text-align: center;
    }

    .introduce {
        position: relative;
        /* height: 100vh; */
    }

    .introduce h3 {
        font-family:"pigmo" ;
        font-size: 39px;
        color: #000;
        margin-top: 5px;
        margin-right: 20px;
    }

    .introduce p {
        font-family: 'Noto Sans TC', sans-serif;
        font-size: 16px;
        font-weight: normal;
        color: #000;
    }

/* 第一屏 湯頭介紹
============================================================== */


    .content {
        position: relative;
        padding-top: 350px;
        pointer-events: auto;
        // filter: drop-shadow(0 0 5px rgba(95, 69, 39, 0.7));
    }

    .content{
        .btn_s:nth-of-type(1){
            margin-right: 20px;
        }
    }
    .content_frame_wrap{
        position: relative;
        // padding-top: 350px;
        filter: drop-shadow(0 0 5px rgba(95, 69, 39, 0.7));
    }
    #content_frame {
        /* background-image: url("svg/SVG/cloud_clip.svg");
        background-repeat: no-repeat; */
        -webkit-mask-image: url("../images/cloud_clip.svg");
        mask-repeat: no-repeat;
        position: absolute;
        width: 900px;
        right: 100px;
        bottom:-580px;
    }
    #text_bubble {
        width: 900px;
        filter: drop-shadow(0 0 5px rgba(95, 69, 39, 0.7));
    }

    .sup_info {
        position: absolute;
        top: 90px;
        left: 270px;
        right: 0px;
    }

    .sup_info {
        width: 400px;
    }

    .custom_button {
        margin-top: 30px;
    }

    #spring_herb {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-bottom: 5px;
    }

    #spring_herb img {
        width: 40px;
        /* height: 50px; */
        margin: 0px 5px;
    }


    /* 第一屏 動畫============================================================== */

    .monkey_animation {
        position: relative;
        width: 100%;
        height: 500px;
        pointer-events: none;
        margin: auto;
        bottom: 0px;
    }

    #monkey_wrap{
        position: relative;
        width: 500px;
        height: 500px;
        transform: scale(1);
        top:60px;
    }
    
    #monkeyFace {
        position: absolute;
        width: 90px;
        left: 535px;
        top: 240px;
        z-index: 5;
        opacity: 0;
        /* transition: 1s; */
    }
    
    #monkeyEyes {
        position: absolute;
        width: 70px;
        left: 555px;
        top: 260px;
        z-index: 6;
        opacity: 0;
        /* transition: 1s; */
    }
    
    #mr_spring_for_firstpage {
        width:400px;
        position: absolute;
        /* bottom: 60px; */
        margin-top:0px;
        margin-left: 420px;
        filter: drop-shadow(0 0 5px rgba(95, 69, 39, 0.7));
    }
    
    #wave01 {
        position: absolute;
        right: 0px;
        left: 320px;
        top: 230px;
        pointer-events: none;
        opacity: 0;
    }
    
    #wave01 img {
        position: absolute;
        width: 50px;
        animation:4s waveScale ease-out infinite;
        animation-delay:2s;
    }
    
    #wave01 img:nth-of-type(2) {
        animation-delay:3s;
        left: 0px;
    }
    
    #wave01 img:nth-of-type(3) {
        animation-delay: 4s;
        left: -50px;
    }
    
    @keyframes waveScale {
        0% {
            transform: scale(0);
            opacity: 0;
            left: 400px;
        }
    
        50% {
            opacity: 1;
            transform: scale(1);
        }
    
        100% {
            transform: scale(2.5);
            opacity: 0;
            left: -50px;
        }
    }
    
    
    #wave02{
        
        position: absolute;
        right: 0px;
        left:690px;
        top: 270px;
        pointer-events: none;
        /* transform: rotate(10deg); */
        opacity: 0;
    
    }
    
    #wave02 img {
        position: absolute;
        width: 125px;
        animation:3s  waveScale02  ease-out infinite;
        animation-delay:3s;
    }
    #wave02 img:nth-of-type(2) {
        animation-delay:2s;
        /* top: 0px; */
    }
    
    #wave02 img:nth-of-type(3) {
        animation-delay:1s;
        /* top: 200px; */
    }
    
    @keyframes waveScale02 {
        0% {
            transform: scale(1);
            opacity: 0;
            /* top:300px; */
        }
    
        50% {
            opacity: 1;
        }
    
        100% {
            transform: scale(2.5);
            opacity: 0;
            /* top:470px; */
            /* top:460px; */
        }
    }
    
    
    
    .note {
        position: absolute;
        right: 0px;
        left: 550px;
        top: 200px;
        pointer-events: none;
    }
    
    .note span {
        opacity: 0;
        animation: notes 2s infinite linear;
        font-family: 'pigmo';
        font-size: 40px;
        position: absolute;
    }
    
    .note span:nth-last-of-type(4) {
        font-size: 50px;
    }
    
    
    .note span:nth-child(1) {
        animation-delay: 0.5s;
    }
    
    .note span:nth-child(2) {
        animation-delay: 1s;
        top: -50px;
        left: 15px;
    }
    
    .note span:nth-child(3) {
        animation-delay: 1.5s;
        top: -70px;
        left: 30px;
    }
    
    .note span:nth-child(4) {
        animation-delay: 2s;
        top: -900px;
        left: 45px;
    }
    
    .note span:nth-child(5) {
        animation-delay: 2.5s;
        top: -120px;
        left: 60px;
    }
    
    @keyframes notes {
        0% {
            transform: scale(1) translate(0, 0);
            opacity: 0;
        }
    
        50% {
            opacity: 1;
            transform: scale(1.3) translate(50%, -50%);
        }
    
        80% {
            opacity: 0;
            transform: scale(1.3) translate(100%, -100%);
        }
    
        100% {
            transform: scale(1.3) translate(100%, -100%);
            opacity: 0;
        }
    }
    
    .sk_wrap {
        position: absolute;
        bottom: 250px;
        left: 650px;
        pointer-events: none;
    }
    
    .sk_wrap02 {
        position: absolute;
        bottom: 130px;
        left: 400px;
    }
    
    .sk_wrap .sk {
        position: absolute;
        width: 60px;
        height: 30px;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.5);
        animation: 3s smokeScale ease-out infinite;
        animation-delay: 0.5s;
    }
    
    .sk_wrap .sk:nth-of-type(2) {
        animation-delay: 2s;
        bottom: 150px;
    
    }
    
    .sk_wrap .sk:nth-of-type(3) {
        animation-delay: 3s;
        bottom: 100px;
    }
    
    
    
    .sk_wrap02 .sk {
        position: absolute;
        width: 60px;
        height: 30px;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.5);
        animation: 3s smokeScale ease-out infinite;
        animation-delay: 0.5s;
    }
    
    .sk_wrap02 .sk:nth-of-type(2) {
        animation-delay: 2s;
        bottom: 150px;
    
    }
    
    .sk_wrap02 .sk:nth-of-type(3) {
        animation-delay: 3s;
        bottom: 100px;
    }
    
    @keyframes smokeScale {
        0% {
            transform: scale(0.5);
            opacity: 0;
            bottom: 0px;
        }
    
        50% {
            opacity: 1;
            transform: scale(2);
        }
    
        100% {
            transform: scale(3);
            opacity: 0;
            bottom: 200px;
            height: 40px;
        }
    }
    
    @keyframes smokeGo {
        0% {
            bottom: 0px;
        }
    
        100% {
    
            bottom: 200px;
        }
    }
    
    
    
    // 第二屏==========================================================================================================
    .my_second_page{
        background-image: url("../images/backGround.jpg");
        background-repeat: repeat;
        background-size: 100%;
        width: 100%;
        position: relative;
        top: 0px;
    }
    .an_monkeyMedicine{
        margin: auto;
        font-family: 'Noto Sans TC', sans-serif;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row-reverse;
        position: relative;
    }
    /* 大群 */
    .an_monkeyCabinet{
        display: none;
    }
    /* 藥籤諮詢 */
    .an_prescription{
        // background-color: yellow;
        position: relative;
    }
    .an_prescription_animation{
        animation: finish 1s ;
        animation-fill-mode: forwards;
        animation-timing-function: cubic-bezier(.87,.8,.37,-1.14);
    }
    @keyframes finish{
        from{
            left:0;
        }
        to{
            left:-2000px;
        }
    }
    // 第二屏標題
    .an_titleMedicine{
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top:50px; 
    }
    .titleSquareMedicine{
        width: 80%;
        height: 80px;
        border: 2px solid black;
        background-image: linear-gradient(0deg, #05d5d7 0% , #ffa1a1 55%,white 98%);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .titleSquareMedicine>h2{
        font-family: "Pigmo";
        font-size:36px;
        color:black;
    }
    //藥籤諮詢
    .an_rescriptionWrap{
        width: 95%;
        background-image: url("../images/fabric.jpg"); 
        background-size: 160%;
        box-shadow: 5px 5px 10px rgba(71, 69, 69, 0.301);
        padding: 50px 0px;
        margin:50px auto;
    }
    // 進度表
    .an_schedule{
        width: 100%;
        display: flex;
        box-sizing: border-box;
        padding: 0 30px;
        align-items: center;
    }
    .an_circle{
        width: 7.4074074%;
        background-image: url("../images/cir.png");
        background-size: 100%;
        background-repeat: no-repeat;
        background-position-y: 50%;
        text-align: center;
        line-height: 26px;
        font-family: "KangXi";
        color:black;
    }
    .an_circle1{
        width: 7.4074074%;
        background-image: url("../images/cir2.png");
        background-size: 100%;
        background-repeat: no-repeat;
        background-position-y: 50%;
        text-align: center;
        line-height: 26px;
        font-family: "KangXi";
        color:black;
    }
    .an_scheduleLine{
        width: 11.111111%;
        height: 3px;
        background-color: #ceab5a;
    }
    //諮詢問題
    .an_rescriptionText{
        padding: 20px 25px;
        height:200px;
    }
    .an_rescriptionText p:nth-of-type(1){
        font-family: "KangXi";
        font-size: 36px;
        color:#7d0022;
    }
    .an_rescriptionText p:nth-of-type(2){
        font-family: 'Noto Sans TC', sans-serif;
        font-size: 18px;
    }
    // 諮詢答案按鈕
    .an_anser{
        display: flex;
        width: 100%;
        margin: 0px 0px 2% 0px;
        font-family: "Noto Sans TC";
    }
    .btn_a{
        padding: 10px 28px;
        border-radius: 60px;
        background-color: #58473c;
        display: inline-block;
        text-align: center;
        margin: auto;
        color:#eac694;
        cursor: pointer;
    }
    .an_anser .btn_a:hover{
        color:white;
    }
    //搗藥桌子
    .an_table{
        display: none;
    }
    // 結果
    .showshower{
        /* width: 70%;
        height: 70%; */
        width:90%;
        position: absolute;
        background-color:white;
        border: 2px black solid;
        border-radius: 10px;
        background-image: url('../images/fabric.jpg');
        background-size: 130%;
        top:20px;
        right: 0;
        bottom: 0;
        left:0;
        margin: auto;
        display: none;
    }
    /* 湯頭資訊 */
    .an_shower_info{
        /* background-color: chartreuse; */
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .shower_infoTitle{
        width: 100%;
        /* background-color: darkorange; */
    }
    .shower_infoTitle p:nth-of-type(1){
        font-family: "Pigmo";
        font-size:36px;
        color:#7d0022;
        margin: 50px 20px 20px 20px;
    }
    .shower_infoTitle p:nth-of-type(2){
        font-family:'Noto Sans TC', sans-serif;
        font-size:16px;
        color:rgb(85, 85, 85);
        margin: 0px 20px 50px 20px;
    }
    /* 湯頭藥材 */
    .showerMedicine{
        width: 100%;
        /* background-color:#faf; */
        display: flex;
    }
    .an_MedicinePicWrap{
        width:33.33333%;
        /* background-color: darkred; */
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
    }
    .an_MedicinePicWrap>img{
        // height:10%;
        width: 50%;
    }
    .an_MedicinePicWrap p:nth-of-type(1){
        font-family: "KangXi";
        font-size:16px;
        color:#7d0022;
        margin: 10px 20px;
    }
    .an_MedicinePicWrap p:nth-of-type(2){
        font-family:'Noto Sans TC', sans-serif;
        font-size:14px;
        color:rgb(85, 85, 85);
        margin: 0px 10px;
        line-height: 1.5;
        text-align: left;
    }
    // 按鈕
    .an_Medicine{
        margin:24% 0px;
        display: flex;
        width: 100%;
        font-family: "Noto Sans TC";
        justify-content: center;
    }
    .Medicine_btn_s{
        padding: 10px 20px;
        border-radius: 50px;
        background-color: #000000;
        font-size:16px;
        display: inline-block;
        text-align: center;
        margin:0 20px;
        cursor: pointer;
        z-index: 20;
    }
    .Medicine_btmLink{
        text-decoration:none;
        color:#eac694;
    }
    .Medicine_btn_s:hover .Medicine_btmLink{
        color:white;
    }

//======================================================================================

    @media screen and (min-width:992px){
        // 第二屏=======================================================================================
        .my_second_page{
            height: 100vh;
        }
        .an_monkeyMedicine{
            max-width: 1200px;
            height: 100vh;
        }
        /* 猴子櫃子群 */
        .an_monkeyCabinet{
            height: 100vh;
            // background-color: chartreuse;
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            // position: relative;
            /* overflow: hidden; */
        }
        /* 櫃子 */
        .an_cabinet{
            margin-bottom:140px;
            height: 48%;
            width: 100%;
            // background-color: aqua;
            background-image: url("../images/cabinet.png");
            background-repeat: repeat;
            background-size: 100%;
            display: flex;
            flex-wrap: wrap;
            position: relative;
            z-index: 1;
        }
        .an_cabinet_animation{
            animation: finish02 1s;
            animation-fill-mode: forwards;
            animation-timing-function: cubic-bezier(.87,.8,.37,-1.14);
        }
        @keyframes finish02{
            from{
                right:0;
            }
            to{
                right:-2000px;
            }
        }
        /* 抽屜一列 */
        .drawerWrap {
            width: 100%;
            height: 33.33333%;
            box-sizing: border-box;
            padding-right: 70px;
            /* background-color: #7d0022; */
            display: flex;
        }
    
        .drawer {
            box-sizing: border-box;
            width: 33.33333%;
            height: 100%;
            /* background-color: cyan;
            margin-right: 2px; */
            display: flex;
            justify-content:flex-end;
            align-items: center;
            /* background-image: url(img/close_drawer.png);
            background-repeat: no-repeat; */
        }
        .extend{
            height:132px;
            width: 0px;
            /* background-color: black; */
            background-image: url("../images/open_drawerside.png");
            background-size: 128%;
            // transition: 0.5s;
            position: relative;
        }
        // .extend_animation{
        //     animation: finish02 0.5s;
        // }
        // @keyframes finish02{
        //     0%{
        //         right:0;
        //         width: 20px;
        //     }
        //     100%{
        //         right:-2000px;
        //         width: 100px;
        //     }
        // }
        .drawer>img {
            margin: 5px 0px 5px 5px;
            width: 88%;
            display: block;
            box-shadow: 5px 5px 5px black;
        }
        // .drawer:hover .extend{
        //     width: 20px;
        // }
        // 第二屏標題
        .an_titleMedicine{
            width: 23%;
            display: flex;
            justify-content: center;
            position: absolute;
            top:30px;
            left:-40px;
        }
        .titleSquareMedicine{
            width: 50%;
            height: 250px;
            border: 2px solid black;
            background-image: linear-gradient(0deg, #05d5d7 0% , #ffa1a1 55%,white 98%);
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .titleSquareMedicine>h2{
            writing-mode: vertical-rl;
            font-family: "Pigmo";
            font-size:36px;
            color:black;
        }
        // 藥籤諮詢
        .an_rescriptionWrap{
            padding: 50px 0px;
            margin:150px 0px 0px 50px;
            background-size: 140%
        }
        
        // 進度條
        .an_schedule{
            width: 90%;
            height: 50px;
            margin: auto;
        }
        .an_circle{
            height: 100%;
            background-position-y: 50%;
            line-height: 50px;
        }
        .an_circle1{
            height: 100%;
            background-position-y: 50%;
            line-height: 50px;
        }
        //諮詢問題
        .an_rescriptionText{
            margin: auto;
            padding: 20px 58px;
            height: 150px;
        }
        .an_rescriptionText p:nth-of-type(1){
            display: inline;
        }
        .an_rescriptionText p:nth-of-type(2){
            display: inline;
        }
        // 諮詢問題按鈕
        .an_anser_wrap{
            margin-bottom: 25px;
        }
        .an_anser{
            display: flex;
            width: 100%;
            margin: 0px 0px 2% 0px;
            font-family: "Noto Sans TC";
        }
        .btn_a{
            padding: 10px 28px;
            border-radius: 60px;
            background-color: #58473c;
            display: inline-block;
            text-align: center;
            margin: auto;
            color:#eac694;
            cursor: pointer;
        }
        .an_anser .btn_a:hover{
            color:white;
        }
        //搗藥桌子
        .an_table{
            display:block;
            height: 140px;
            width: 100%;
            background-image: url("../images/table.png");
            position: absolute;
            bottom: 0;
            z-index: 2;
        }
        //搗藥猴子
        .an_table>img{
            position: absolute;
            // width: 18%;
            // bottom: 68px;
            // left:43%;
            
            width: 400px;
            bottom: 57px;
            left:43%;
            filter: drop-shadow(10px 10px 10px #492d0c);
        }
        .an_monkey_animation{
            position: relative;
            animation: finish03 1s;
            animation-delay: 1s;
            animation-fill-mode: forwards;
        }
        @keyframes finish03{
            from{
                left:43%;
            }
            to{
                // left:350px;
                left:19%;
            }
        }
        //結果
    .showshower{
        width: 55%;
        height: 70%;
        top:-200px;
        right: 0;
        left:0;
        margin: auto;
        display: none;
    }
    /* 湯頭資訊 */
    .an_shower_info{
        /* background-color: chartreuse; */
        padding: 40px;
    }
    .shower_infoTitle{
        width: 100%;
        /* background-color: darkorange; */
    }
    .shower_infoTitle p:nth-of-type(1){
        font-family: "Pigmo";
        font-size:36px;
        color:#7d0022;
        margin: 20px 20px 20px 20px;
    }
    .shower_infoTitle p:nth-of-type(2){
        font-family:'Noto Sans TC', sans-serif;
        font-size:20px;
        color:rgb(85, 85, 85);
        margin: 0px 20px 50px 20px;
    }
    /* 湯頭藥材 */
    .showerMedicine{
        width: 100%;
        /* background-color:#faf; */
        display: flex;
    }
    .an_MedicinePicWrap{
        width:33.33333%;
        /* background-color: darkred; */
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .an_MedicinePicWrap>img{
        // height:10%;
        width: 30%;
    }
    .an_MedicinePicWrap p:nth-of-type(1){
        font-size:24px;
        margin: 20px 20px;
    }
    .an_MedicinePicWrap p:nth-of-type(2){
        font-size:20px;
        margin: 0px 20px;
    }
    // 按鈕
    .an_Medicine{
        margin:60px 0px;
        display: flex;
        width: 100%;
        font-family: "Noto Sans TC";
        justify-content: center;
    }
    } 


    // 第一屏media queries============================================= 
    @media screen and (max-width:399px){
        .content_frame_wrap{
            transform: scale(0.4);
            left:180px;
            bottom:70px;
        }
        
        .herb {
            transform: scale(0.5);
            transition: 1s;
            margin-top: -300px;
        }
        .monkey_animation{
            transform: scale(0.5);
            width:100%;
            right:100%;
            left:-220px;
            bottom:150px;
            transition: 1s;
        }

    }

    @media screen and (max-width:767px) and (min-width:400px){
        .content_frame_wrap{
            transform: scale(0.7);
            left:240px;
        }
    
        // #text_bubble{
        //     opacity: 0;
        // }
        .bg_mt img {
            bottom: 800px;
            margin-bottom:100px;
        }
        .herb {
            transform: scale(0.6);
            transition: 1s;
        }
        
    //      #monkey_wrap{
    //         position: fixed;
    //         transform: scale(0.6);
    //         left: 0px;
    //         right:300px;
    //         bottom: 0px;
    // }
        .monkey_animation{
            transform: scale(0.5);
            width:100%;
            margin-left: 0%;
            right:45%;
            bottom:100px;
            transition: 1s;
        }
    } 

    @media screen and (max-width:991px)and(min-width:768px) {
        .bg_mt img {
            bottom: 800px;
            margin-bottom:100px;
        }
        .herb {
            transform: scale(0.8);
            transition: 1s;
        }
        .monkey_animation{
            transform: scale(0.8);
            right:30%;
            left:-150px;
            bottom:-100px;
            transition: 1s;
        }
         
    } 

    @media screen and (max-width:1199px) and(min-width:992px) {
        
        
       .herb {
           
           transform: scale(0.9);
           transition: 1s;
        }
        .monkey_animation{
            transform: scale(0.8);
            right:10%;
            transition: 1s;
        }
       
   } 
    @media screen and (min-width:1200px){
        .bg_mt img {
            bottom: 400px;
        }
    } 

    @media screen and (max-width:1199px){
        .mt_first_page{
            .wrap{
                width: 100%;
            }
        }
        .bg_mt img {
            bottom: 500px;
        }

        // .herb {
        //     display: flex;
        //     flex-direction: row;
        //     justify-content: space-evenly;
        //     width: 100%;
        //     margin-top: -250px;
        // }
        // .herb_cross img {
        //     width:220px;
        // }

        
        // #herb_cross2 img{
        //     width:220px;
        // }
        
        // .herb_cross {
        //     position: relative;
        //     box-sizing: border-box;
        //     padding: 110px;
        //     // padding-top: 50px;
        //     // padding-bottom: 50px;
        //     cursor: pointer;
        // }
    
        
        // #herb_cross2 {
        //     position: relative;
        //     box-sizing: border-box;
        //     padding: 110px;
        //     // padding-top: 50px;
        //     // padding-bottom: 50px;
        //     cursor: pointer;
        // }
        // .herb h3 {
        //     font-family: "pigmo";
        //     font-size: 30px;
        //     color: #000;
        //     -webkit-writing-mode: vertical-rl;
        //     position: absolute;
        //     top: 0px;
        //     bottom: 0px;
        //     left: 90px;
        //     text-align: center;
        //     margin: 0;
        // }
    } 