@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);

@font-face {
  font-family: 'Pigmo';
  src: url(../font/Pigmo-00_0.otf);
}
@font-face {
  font-family: 'KangXi';
  src: url(../font/TypeLand-com-KangXiZiDianTi-ShiYongBan-1.otf);
}