
.forum_bg{
	overflow: hidden;
}	
/*mobile filter*/
#mobile_filter{
	position: fixed;
	top: 50px;
	left: 0;
	width: 100%;
	height: 50px;
	display: flex;
	align-items: center;
	background-color: #6f3535;
	z-index: 97;
	display: none;
}
#mobile_filter label{
	display: block;
}
#mobile_filter #sort_btn,#mobile_filter #filter_btn{
	padding: 3px 10px;
	background-color: #ffecce;
	border-radius: 5px;
	margin-left:20px;
}

#mobile_filter #search_btn{
	margin: auto;
	margin-right: 0;
}
#mobile_filter #search_btn+input{
	width: 100px;
	margin-right: 10px;
	border: 1px #ffecce solid;
	border-radius: 50px;
	padding: 3px 10px;
	color: #fff;
	background-color: transparent;
}
#mobile_filter #search_btn img{
	height: 40px;
	width: 40px;
	display: block;
}
#mobile_filter_mask{
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	position: fixed;
	// background-color: #aaa;
	z-index: 98;
	display: none;
}
#filter_wrap{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	background-color: #fff; 
	position: fixed;
	top: 100px;
	left: 0;
	z-index: 99;
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
	overflow: hidden;
}
#filter_wrap h4{
	width: 100%;
	background-color: #c59a73;
	padding: 5px 10px;
	color: #6f3535;
	font-size: 18px;
}
#filter_wrap ul{
	display: flex;
	flex-wrap:wrap;
}
#filter_wrap li{
	position: relative;
	padding: 10px 10px;
	display: flex;
	align-items: center;
	width: 33.333%;
	background-color: #ffecce;
	box-shadow: 0 0 1px rgba(0,0,0,0.5);
}
#filter_wrap li img{
	width: 10px;
	height: 10px;
	display: block;
	margin: auto;
	margin-right:5px;
	opacity:0;
}
#filter_wrap li img.checked{
	opacity:1;
}
#filter_wrap .sort_wrap{
	width: 100%;
	max-height: 0;
	transition: 0.2s;
}
#filter_wrap .sort_wrap.filter_open,
#filter_wrap .filter_kind.filter_open,
#filter_wrap .filter_item.filter_open,{
	max-height: 1000px;
}
#filter_wrap .filter_kind{
	width: 100%;
	max-height: 0;
	transition: 0.2s;
	// margin-right: 4%;
}
#filter_wrap .filter_item{
	width: 100%;
	max-height: 0;
	transition: 0.2s;
}
// #filter_mask{
// 	position: relative;
// 	width: 100%;
// 	height: 100px;
// 	z-index: 101;
// }
// #filter_mask .filter_mask{
// 	width: 100%;
// 	height: 100vh;
// 	position: fixed;
// 	top: 0;
// 	left: 0;
// 	z-index: 90;
// 	display: none;
// }
// #filter_wrap,#sort_wrap{
// 	background-color: white;
// 	width: 250px;
// 	max-height: 30px;
// 	margin: auto;
// 	margin-top: 30px;
// 	transition:0.2s;
// 	overflow: hidden;
// 	position: absolute;
// 	background-color: #c59a73;
// 	color: #6f3535 ;
// 	right: 0;
// 	left: 0;
// 	border-radius: 10px;
// }
// #filter_wrap{
// 	z-index: 92;
// 	top: 0px;
// 	margin: auto;
// }
// #sort_wrap{
// 	z-index: 91;
// 	top: 60px;
// 	margin: auto;
// }
// #filter_mask h4{
// 	padding: 10px 10px;
// }
// #filter_mask ul{
// 	width: 100%;
// 	display: flex;
// 	flex-wrap: wrap;
// }
// #filter_mask label{
// 	height: 30px;
// 	display: block;
// 	line-height: 30px;
// 	text-align: center;
// 	background-color: #6f3535 ; 
// 	color: #c59a73;
// }

// #filter_mask li{
// 	padding: 8px 20px;
// 	position: relative;
// 	cursor: pointer;
// }

// #filter_mask img{
// 	display: none;
// 	position: absolute;
// 	right: 20px;
// 	top: 15px;
// 	width: 10px;
// }
// #filter_wrap li.selected img,#sort_wrap li.selected img{
// 	display: block;
// }
// #filter_wrap li{
// 	width: 50%;
// }
// #sort_wrap li{
// 	width: 100%;
// }
// #filter_mask input{
// 	position: fixed;	
// 	left: 0;
// 	top: 0;
// }
// #filter_mask .filter_open{
// 	max-height: 1000px;
// }

/*桌機 filter*/
.forum_filter{
	display: none;
	flex-wrap: wrap;
	width: 100%;
	float: left;
	line-height: 40px;
}

.kind_of_forum,.item_of_forum{
	position: relative;
	display: flex;
	font-size: 16px;
	float: left;
	cursor: default;
	width: 130px;
	height: 40px;
	margin-right: 30px;
	z-index: 1000;	
}
.kind_of_forum .count,.item_of_forum .count{
	color: white;
	background-color: #a00;
	width: 25px;
	height: 25px;
	line-height: 25px;
	border-radius: 50%;
	position: absolute;
	right: -10px;
	top: -5px;
	z-index: 999;
	text-align: center;
}

#kind_of_forum_box,#item_of_forum_box{
	width: 70%;
	width: 130px;
	text-align: center;
	max-height: 40px;
	border-radius: 10px;
	overflow: hidden;
	position: absolute;
	z-index: 997;
	cursor: pointer;
}
#kind_of_forum_box.open,#item_of_forum_box.open{
	max-height: 1000px;
}
#kind_of_forum_box{
	left: 0px;
	transition: 0.2s;
}
#item_of_forum_box{
	left: 0px;
	transition: 0.2s;
}
#kind_of_forum_box li,#item_of_forum_box li{
	height: 30px;
	background-color: #c59a73;
	color: #6f3535 ;
	position: relative;
}

#kind_of_forum_box li label,#item_of_forum_box li label{
	width: 100%;
	height: 100%;
	display: block;
	line-height: 30px;
}

#kind_of_forum_box li label:hover,#item_of_forum_box li label:hover{
	color:#f3ca93 ;
}
#kind_of_forum_box li img,#item_of_forum_box li img{
	position: absolute;
	width: 10px;
	height: 10px;
	right: 10px;
	top:10px;
	z-index: 997;
	opacity: 0;
}
#kind_of_forum_box li img.check,#item_of_forum_box li img.check{
	opacity: 1;
}
#kind_of_forum_box li:nth-of-type(1),#item_of_forum_box li:nth-of-type(1){
	height: 40px;
	line-height: 40px;
	background-color: #6f3535;
	color: #c59a73 ;
}

.sort_forum{
	margin-top: 40px;
	width: 100%;
	display: flex;
	line-height: 30px;
}
.sort_forum p{
	height: 30px;
	margin-right: 5px;
}

.sort_forum span{
	height: 30px;
	display: inline-block;
	background-color: #6f3535;
	margin-right: 10px;
	padding-left: 5px;
	padding-right: 5px;
	border-radius: 5px;

}
.sort_forum label:hover{
	color: white;
}
.sort_forum span input{
	opacity: 0;
	position: absolute;
	z-index: -999;
}
.sort_forum span input:checked+label{
	color: white;
}
.sort_forum span label{
	display: block;
	width: 100%;
	height: 100%;
	cursor: pointer;
	color: #c59a73;
}
.forum_search{
	display: none;
}





.forum_box{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	margin: auto;
	margin-top: 50px;
}
.forum_box .forum{
	// height: 320px;
	width: 100%;
	position: relative;
	margin-bottom: 50px;
}
.forum .user_photo{
	width: 90px;
	height: 90px;
	border-radius: 50%;
	overflow: hidden;
	border: 5px solid #e4bd5e; 
	float: left;
	margin: 10px;
}
.forum .user_photo img{
	width: 90px;
	height: 90px;
}
.forum .forum_data{
	width: calc(100% - 110px);
	float: left;
	color: #6f3535;
	padding: 10px;
}
.forum .forum_data .user_name{
	font-size: 21px;
}
.forum .forum_data .time{
	font-size: 15px;
}
.forum .forum_data .forum_item{
	font-size: 15px;
	display: flex;
	flex-wrap: wrap;
}
.forum .forum_data .forum_item a{

}
.forum .forum_data .forum_item span{
	// height: 20px;
	border-radius: 5px;
	margin-right: 10px;
	color: #ddd;
	padding: 2px 5px;
	cursor: pointer;
	margin-top: 5px;
	display: block;
}
.forum_item .item_kind{
	display: none;
}
.forum_item .item_kind1{
	background-color: #b24f59;
}
.forum_item .item_kind2{
	background-color: #dd7d1d;
}
.forum_item .item_kind3{
	background-color: #6a912d;
}

.forum .forum_content{
	width: 95%;
	margin: auto;
	background-color:rgba(255,255,255,0.6);
	padding: 13px;
	border: 1px solid #999;
	height: 230px;
	position: relative;
	color: #222;
	overflow: auto;
	cursor: pointer;
}
.forum .forum_content .forum_title{
	height: 25px;
	line-height: 25px;
}

.forum_content .forum_title h3{
	float: left;
	font-size: 18px;
	color: #7b3e3e;
	font-family: 'Noto Sans TC', sans-serif;
}
.forum_content .forum_title .forum_kind_title{
	float:right;
	font-size: 15px;
}
.forum_content .forum_title .forum_kind_title1{
	color: #b24f59;
}
.forum_content .forum_title .forum_kind_title2{
	color: #dd7d1d;
}
.forum_content .forum_title .forum_kind_title3{
	color:#6a912d ;
}
.forum_content .forum_title .forum_kind_title img{
	height: 25px;
	width: 55px;
	display: block;
	float: left;
	line-height: 25px;
}
.forum_title+p{
	margin-top: 10px;
	font-size: 15px;
	// line-height: 24px;
	color: #555;
	text-align: justify;
}
.forum .forum_count{
	display: flex;
	justify-content: flex-end;
	position: absolute;
	right: 14px;
	bottom: 14px;
}
.forum .forum_count .msg_count{
}

.forum .forum_count img{
	float: left;
	display: block;
	height: 22px;
	width: 22px;
	margin-left: 20px;
	margin-right: 10px;
}
.forum .forum_count p{
	float: left;
	margin-top: 0;
}
@media screen and (min-width: 768px) {
	#filter_mask{
		display: none;
	}
	.forum_filter{
		display: flex;
		width: calc(100% - 190px);
	}
	.sort_forum{
		margin-top: 20px;
		width: calc(100% - 190px);
	}
	
	.forum_search{
		width: 190px;
		float: right;
		background-color: #6f3535;
		border-radius: 5px;
		margin-top: 10px;
		display: block;
	}
	.forum_search input{
		height: 35px;
		width: 155px;
		float: left;
		border: none;
		background-color: transparent;
		outline: none;
		padding-left: 10px;
		padding-right: 10px;
		color: #ddd;
		font-size: 15px;
	}
	.forum_search input::-webkit-input-placeholder { /* WebKit browsers */
		  color: #c59a73;
	}
	.forum_search input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	    color: #c59a73;
	}
	.forum_search input::-moz-placeholder { /* Mozilla Firefox 19+ */
	    color: #c59a73;
	}
	.forum_search input:-ms-input-placeholder { /* Internet Explorer 10+ */
	    color: #c59a73;
	}
	.forum_search span{}
	.forum_search span img{
		width: 35px;
		height: 35px;
		display: block;
		float: left;
	}


	.forum_box{
		width: 100%;
	}
	.forum_box .forum{
		width: 50%;
	}
}
@media screen and (min-width: 1200px) {
	.forum_wrap{
		position: relative;
		z-index: 10;
		width: 1200px;
	}
	.forum_box{
		width: 100%;
	}
	.forum_box .forum{
		width: 380px;
		margin: 10px;
		margin-bottom: 60px;
	}
	
}




/****/
.article_hot_forum_wrap{
	height: auto;
	// margin-bottom: 100px;
}
.article_hot_forum_box{
	width: 100%;
	left: 0;
	position: relative;
	height: auto;
}
.article_card{
	display: none;
}
.article_hot_forum_box .article_hot_forum_hidden{
	display: block;
	left: 0;
	right: 0;
	margin: auto;
	width: 100%;
	position: relative;
	height: auto;
	top: 0;
}
.article_hot_forum_hidden .hot_forum{
	padding: 20px;
	right: 0;
	margin: 10px auto;
	height: auto;
	position: relative;
	width: 100%;
	max-width: 800px;
}
.article_hot_forum_hidden .article_info_btn{
	position: absolute;
	right: 55px;
}
.article_hot_forum_hidden .article_info_btn img{
	width: 30px;
	opacity :0.3 ;
}

.article_hot_forum_box .article_info{
	position: absolute;
	background-color: #fff;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
	z-index: 1001;
	width: 350px;
	display: none;
	flex-wrap: wrap;
	top: 20px;
	left: 0;
	right: 0;
	margin: auto;
	justify-content: center;
	height: 340px;
}
.article_info_mask{
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
}
.article_info #info_close{
	position: absolute;
	background-color:  #6f3535;
	color: #fff;
	bottom: 20px;
	left: 0;
	right: 0;
	margin: auto;
	width: 60px;
	text-align: center;
	z-index: 10;
}
.article_info .article_info_radar{
	width: 300px;
	position: absolute;
	top: 40px;
	left: 0;
	right: 0;
	margin: auto;
}
.article_info h3{
	width: 100%;
	margin-bottom: 20px;
	text-align: center;
}
.article_info span{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 25%;
}
.article_info span img{
	width: 30px;
}
.card_item_mobile{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}
.card_item_mobile span{
	margin-right: 8px;
	color: #fff;
	display: block;
	padding: 2px 5px;
	border-radius: 5px;
	margin-top: 5px;
}
.card_item_mobile .kind1{
	background-color: #A40000;
}
.card_item_mobile .kind2{
	background-color: #dd7d1d;
}
.card_item_mobile .kind3{
	background-color: #6a912d;
}
.time_inner{
	margin-top: 5px;
	color: #999;
}
.article_hot_forum_hidden .hot_forum_content{
	height: auto;
	margin-bottom: 50px;
}
.forum_data_inner{
	display: flex;
	position: absolute;
	bottom: 20px;
	right: 35px;
	color: #6f3535;
	height: 30px;
	font-size: 21px;
	line-height: 30px;
}
.forum_data_inner img{
	height: 30px;
	margin-right: 10px;
	cursor: pointer;
}
.forum_data_inner .like img{
	cursor: pointer;
}
.forum_data_inner .msg_count{
	margin-left: 40px;
}

.msg_wrap{
	margin: auto;
	background-color: rgba(255,255,230,0.4);
	position: relative;
	top: -20px;
	width: 90%;
	padding: 20px;
	// margin-top: 80px;
	max-width: 1000px;
	border-radius: 10px;
	padding-bottom: 50px;
	max-width: 700px;
}

// .msg_wrap .msg_box:first-child{
// 	padding-top: 50px;
// 	margin-top: 0;
// }
.msg_box{
	width: 100%;
	margin: auto;
	display: flex;
	position: relative;
	margin-top: 30px;
	max-width: 600px;
	flex-wrap: wrap;
	background-color: rgba(255,255,255,0.7);
	border-radius: 10px;
	// margin-bottom: 60px;
}
.msg_box .msg_l{
	padding-top: 20px;
	display: flex;
	align-items: center;
	margin-left: 20px;
	flex-wrap: wrap;
}
.msg_box .msg_l .user_photo{
	width: 60px;
	height: 60px;
	border-radius: 50%;
	overflow: hidden;
	border: 5px solid #e4bd5e;
	margin: auto;
}
.msg_box .msg_l .user_photo img{
	width: 100%;
}
.msg_box .msg_l .user_name{
	text-align: center;
	font-size: 18px;
	color: #555;
	margin-left: 20px;
}

.msg_box .msg_r{
	width: 100%;
	// background-color: #fff;
	border-radius: 10px;
	padding: 20px;
	position: relative;
	padding-top: 10px;
}
.msg_box .msg_r input[type="submit"]{
	display: block;
	float: right;
	padding: 5px 10px;
	border-radius: 10px;
	background-color: #e4bd5e;
	color:#555;
}
.msg_box .msg_r input[type="submit"]:hover{
	background-color: #F7E2BC;
}
.msg_box .msg_r p{
	font-size: 16px;
	color: #777;
	margin-bottom: 30px;
	line-height: 1.5;
}
.msg_box .msg_r .time{
	position: absolute;
	bottom: 10px;
	left: 20px;
	font-size: 15px;
	color: #999;
}
.msg_box .like{
	position: absolute;
	display: flex;
	height: 25px;
	right: 20px;
	bottom: 10px;
	cursor: pointer;
}
.msg_box .like img{
	width: 25px;
	margin-right: 10px;
	display: block;
}
.msg_box .like p{
	line-height: 25px;
	color: #6f3535;
}

.msg_box .methods{
	position: absolute;
	padding: 8px 0px;
	right: 20px;
	top: 7px;
	display: flex;
	cursor: pointer;
	z-index: 1000;
}
.msg_box .methods_menu{
	position: absolute;
	right: 20px;
	max-height: 0;
	width: 48px;
	top: 30px;
	background-color: rgba(255,255,255,0.6);
	box-shadow: 0 0 5px black;
	overflow: hidden;
	z-index: 1000;
	border-radius:5px;
	transition: 0.1s;
}
.msg_box .methods_menu li{
	padding: 5px 8px;
	cursor: pointer;
}
.msg_box .methods_menu li:hover{
	background-color:#e4bd5e; 
}
.msg_box .methods .circle{
	width: 5px;
	height: 5px;
	background-color: rgba(0,0,0,0.4);
	margin-left: 3px;
	border-radius: 50%;
	transition: 0.2s;
}
.msg_box .methods:hover .circle{
	background-color: rgba(0,0,0,0.8);
}
.msg_wrap+img{
	width: 100%;
	margin: auto;
	display: block;
	margin-top: 50px;
}
.publish_wrap{
	margin: auto;
	margin-top: 50px;
	margin-bottom: 50px;
	padding: 10px;
	width: 90%;

}
.mes_login{
	width:100px; 
	background:#7d0000;
	color:#f3ca93; 
	text-align:center; 
	margin:auto; 
	margin-top:50px;
	margin-bottom:50px;
	cursor: pointer;
}
.mes_login:hover{
	color:#fff; 
}
.publish_wrap .msg_box{
	margin-top: 0;
	background-color: transparent;
}
.msg_l.publish_msg_l{
	display: none;
}
.publish_wrap .msg_r{
	padding: 20px;
	background-color: #f0c260;
	width: 100%;
	margin: auto;
	max-width: 700px;
}
.publish_wrap .msg_r form{
	width: 100%;
}
.publish_wrap .msg_r textarea{
	width: calc(100%);
	height: 100px;
	border: none;
	padding: 5px;
	font-size: 16px;
	color: #555;
	resize: none;
	display: block;
	margin-bottom: 10px;
}


.publish_wrap .msg_r input{
	width: 85px;
	height: 30px;
	float: right;
	border-radius: 50px;
	background-color: #6f3535;
	border: none;
	color: #ccc;
	transition: 0.2s;
	cursor: pointer;
}
.publish_wrap .msg_r input:hover{
	color: #fff;
} 
@media screen and (min-width: 768px) {
	.forum_data_inner img{
		height: 30px;
		margin-right: 10px;
	}
	.forum_data_inner .like img{
		cursor: pointer;
	}
	.card_item_mobile{
	}
	.hot_forum_content .content_l .article{
		margin-top: 5px;
	}
	.msg_box{
		flex-wrap: nowrap;
		background-color: transparent;
		// align-items: flex-start;
	}
	.msg_box .msg_l{
		margin-left: 0px;
	}
	.msg_box .msg_l .user_name{
		margin: auto;
	}

	.msg_box .msg_r{
		// width: calc(100% - 120px);
		margin-left: 30px;
		background-color: rgba(255,255,255,0.8);
		padding: 20px;
		padding-top: 30px;
	}

	.msg_wrap .msg_box .msg_r::after{
		content: "";
		position: absolute;
		top: 40px;
		left: -20px;
		display: block;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 10px 20px 10px 0;
		border-color: transparent rgba(255,255,255,0.8) transparent transparent;

	}
	.publish_wrap .msg_box{
		margin-top: 0;
		max-width: none;
	}
	.publish_msg_l{
		display: block;
	}
	.publish_wrap .msg_r{
		background-color: #f0c260;
		width: 100%;
		margin: auto;
	}
	.publish_wrap .msg_r form{
	}
	.publish_wrap .msg_r textarea{
	}


	.publish_wrap .msg_r input{
	}
	.publish_wrap .msg_r input:hover{
	}
}
@media screen and (min-width: 1200px) {
	
	.article_hot_forum_box .article_card{
		display: block;
		left: 100px;
		position: absolute;
	}
	.article_hot_forum_box .article_hot_forum_hidden{
		margin: auto;
		left: 60px;
		right: 0;
		top: 30px;
		width: 100%;

	}
	.article_hot_forum_hidden .hot_forum{
		max-width: none;
		padding: 35px;
		padding-top: 50px;
		padding-left: 150px;
		right: 0;
		margin: 10px auto;
		height: auto;
		position: relative;
		min-height: 450px;
		width: calc(100% - 100px);
	}
	.article_hot_forum_hidden .hot_forum_content{
		display: flex;
	}
	.article_hot_forum_hidden .article_info_btn{
		display: none;
	}
	.article_hot_forum_hidden .hot_forum_content .content_l{
		// width: 480px;
		padding-right: 10px;
	}
	.article_hot_forum_hidden .hot_forum_content .content_r{
		top: -130px;
		width: 350px;
		position: absolute;
		right: 0px;
		height: auto;
	}
	.card_item_mobile{
		display: none;
	}
	.msg_wrap {
		// margin-top: 80px;
		// max-width: 900px;
		top: 0;
	}

	.msg_box {
		width: 100%;
		margin: auto;
		display: flex;
		position: relative;
		max-width: none;
		margin-top: 40px; }

	.msg_box .msg_l {
		padding-top: 20px;
		height: 100px; }

	// .msg_box .msg_l .user_photo {
	// 	width: 90px;
	// 	height: 90px;
	// 	border-radius: 50%;
	// 	overflow: hidden;
	// 	border: 5px solid #e4bd5e;
	// 	margin: auto; }

	// .msg_box .msg_l .user_photo img {
	// 	width: 90px; }

	.msg_box .msg_l .user_name {
		text-align: center;
		font-size: 18px;
		color: #555; }

	.msg_box .msg_r {
		// width: calc(100% - 120px);
		background-color: #fff;
		margin-left: 20px;
		border-radius: 10px;
		padding: 20px;
		padding-top: 30px;
		position: relative; }

	.msg_box .msg_r p {
		font-size: 16px;
		color: #555; }

	.msg_box .msg_r .time {
		position: absolute;
		bottom: 20px;
		left: 20px;
		font-size: 15px;
		color: #999; }

	.msg_box .like {
		position: absolute;
		display: flex;
		height: 25px;
		right: 20px;
		bottom: 20px;
		cursor: pointer; }

	.msg_box .like img {
		width: 25px;
		margin-right: 10px;
		display: block;
	}

	.msg_box .like p {
		line-height: 25px;
		color: #6f3535;
	}

	.msg_box .methods {
		position: absolute;
		padding: 8px 0px;
		right: 20px;
		top: 7px;
		display: flex;
		cursor: pointer;
		z-index: 998;
	}

	.msg_box .methods_menu {
		position: absolute;
		right: 20px;
		max-height: 0;
		width: 48px;
		top: 30px;
		background-color: rgba(255, 255, 255, 0.8);
		box-shadow: 0 0 5px black;
		overflow: hidden;
		z-index: 1000;
		border-radius: 5px;
		transition: 0.1s;
	}

	.msg_box .methods_menu li {
		padding: 5px 8px;
		cursor: pointer;
	}

	.msg_box .methods_menu li:hover {
		background-color: #e4bd5e;
	}

	.msg_box .methods .circle {
		width: 5px;
		height: 5px;
		background-color: rgba(0, 0, 0, 0.4);
		margin-left: 3px;
		border-radius: 50%;
		transition: 0.2s;
	}

	.msg_box .methods:hover .circle {
		background-color: rgba(0, 0, 0, 0.8); 
	}

	.msg_wrap + img {
		width: 100%;
		margin: auto;
		display: block;
		margin-top: 50px;
	}
	.publish_wrap .msg_box{
		width: 90%;

	}
	.publish_wrap .msg_r{
		padding: 20px;
		margin: auto;
		background-color: #f0c260;
	}

}



/*--article_publish---*/
.article_publish_bg{
	height: 100%;
	padding-top: 60px;
}
.article_publish_wrap{
	margin: auto;
}
.article_publish_wrap .card .card_item_box{
    margin-top: 20px;
}
.forum_wrap .article_publish{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-bottom: 50px;
	position: relative;
	padding-top: 100px;
	padding-bottom: 100px;
	
}
.add_card{
	position: absolute;
	top: 30px;
	border: none;
	background-color:  #6f3535;
	color: #fff;
}
.add_card:hover{
	background-color:  #c59a73;
	color: #6f3535;
}
.selected_card_data{
	margin-bottom: 20px; 
	width: 80%;
	text-align: center;
	flex-wrap: wrap;
}
.selected_card_data .card{
	position: static;
	margin: auto;
	transform: scale(0.9,0.9);
}

// .selected_card_data h3{
// 	margin-bottom: 10px;
// 	font-size: 45px;
// }
// .selected_card_data .item_box{
// 	width: 100%;
// 	display: flex;
// 	align-items:center;
// 	flex-wrap: wrap;
// 	justify-content: center;
// }
// .selected_card_data .item_box::after{
// 	content: "";
// 	display: block;
// 	clear: both;
// }
// .selected_card_data p{
// 	float: left;
// 	margin: 10px;
// 	padding: 2px 8px;
// 	border-radius: 5px;
// 	color: #eee;
// 	margin-top: 10px;
// }
// .selected_card_data h4{
// 	float: left;
// 	height: 26px;
// 	line-height: 26px;
// 	margin-right: 10px;
// }
// .selected_card_data .kind1{
// 	background-color: #6a912d;
// }
// .selected_card_data .kind2{
// 	background-color: #b24f59;
// }
// .selected_card_data .kind3{
// 	background-color: #dd7d1d;
// }
.article_publish .publish_l{
	display: none;
}
.article_publish .publish_r{
	background-color: #a39784;
	width: 90%;
	height: 500px;
}
.article_publish .publish_r input[type="text"]{
	font-size: 18px;
	display: block;
	width: 80%;
	margin: auto;
	height: 50px;
	margin-top: 50px;
	padding: 5px 10px;
}

.article_publish .publish_r textarea{
	display: block;
	width: 80%;
	margin: auto;
	height: 280px;
	margin-top: 30px;
	resize: none;
	padding: 10px;
	font-size: 18px;
}
.article_publish .publish_r button{
	background-color: #111;
	display: block;
	color: #ccc;
	transition: 0.5s;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	outline: none;
}

.article_publish .publish_r button:hover{
	color: #fff;
	cursor: pointer;
}

@media screen and (min-width: 768px) {
	.article_publish_bg{
		padding-top: 150px;
	}
	.add_card{
		display: none;
	}
	.selected_card_data{
		display: none;
	}
	.article_publish{
		padding: 50px;
		background-color: #ffecce;
	}
	.article_publish .publish_l{
		display: block;
		margin-top: 30px;
		position: relative;
		filter: drop-shadow(0px 0 15px rgba(0,0,0,0.5));
	}
	.article_publish .publish_l .plus_wrap{
		background-color: #fff;
		width: 224px;
		height: 420px;
		margin: auto;
		-webkit-clip-path: polygon(25% 0%, 75% 0%, 100% 10%, 100% 100%, 0 100%, 0 10%);
		clip-path: polygon(25% 0%, 75% 0%, 100% 10%, 100% 100%, 0 100%, 0 10%);
		filter: drop-shadow(0px 0 15px rgba(0,0,0,0.5));
	}
	.article_publish .publish_l .plus{
		width: 80px;
		height: 80px;
		border: 2px solid #aaa;
		border-radius: 50%;
		position: absolute;
		left: 0;
		top: 100px;
		right: 0;
		margin: auto;
	}
	.publish_card{
		width: 224px;
		height: 420px;
		transition: 0.5s;
		cursor: pointer;
	}
	.publish_card:hover{
		transform: scale(1.05,1.05);
	}
	.article_publish .publish_l .plus::after{
		content: "";
		position: absolute;
		width: 40px;
		height: 0;
		left: 18px;
		top: 39px;
		border-bottom: 2px solid #aaa;
	}
	.article_publish .publish_l .plus::before{
		content: "";
		position: absolute;
		width: 40px;
		height: 0;
		left: 18px;
		top: 39px;
		border-bottom: 2px solid #aaa;
		transform: rotate(90deg);
	}
	.article_publish .publish_r{
		width: calc(100% - 300px);
	}
}

