 #lightbox_wrapper{
    display: flex;
    visibility: hidden;    
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: 100;
    background-color: rgba(0,0,0,.6);
    align-items: center;
    justify-content: center;
}
.cards img{
    width: 224px;
    display: block;
    margin: auto;
}
#lightbox{
    position: relative;
    width: 90%;
    max-width: 1200px;
    background-image: url('../images/backGround.jpg');
    background-size: 950px;
    border-radius: 35px;
    padding: 20px;
    filter: drop-shadow(-3px 3px 5px #333);
    display: flex;
}

#lightboxToggle{
    position: absolute;
    top: -15px;
    right: -15px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #e19d43;
    border: 3px solid #fee;
    cursor: pointer;
}

#lightboxToggle::before{
    content: '';
    display: block;
    width: 80%;
    height: 20%;
    border-radius: 5px;
    background-color: #864d04;
    transform: rotate(45deg);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}
#lightboxToggle::after{
    content: '';
    display: block;
    width: 80%;
    height: 20%;
    border-radius: 5px;
    background-color: #864d04;
    transform: rotate(-45deg);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}

.chooseCard_d{
    width: 90%;
    margin: auto;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 80px; 
}

.radar_d{
    width: 30%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chooseCard_d h2{
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    margin: auto;
    margin-bottom: 10px;
}

.select-box{
    cursor: pointer;
    position : relative;
    max-width:  20em;
    margin: 10px auto;
    width: 224px;
    background-image: url("../images/backGround.jpg");

}

.select,.label{
    color: #414141;
    display: block;
    background-image: url("../images/backGround.jpg");
}

.select{
    width: 100%;
    position: absolute;
    top: 0;
    padding: 10px 0;
    height: 36px;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    background: none transparent;
    border: 0 none;
    cursor: pointer;
    background-image: url("../images/backGround.jpg");
}

.select-box1{
    background: #ececec;
}

.label{
    position: relative;
    padding: 10px 10px;
    cursor: pointer;
}

.open .label:after{
    content: "▲";
}

.label:after{
    content: "▼";
    font-size: 13px;
    position: absolute;
    right: 0;
    top: 0;
    padding: 11.5px 15px;
    border-left: 5px solid #fff;
}

.chooseCardArea_d{
    width: 100%;
    padding: 10px 0px 0px;
    background-size: contain;
    background-repeat: round;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.responsive{
    width: 100%;
}

.cards{
    height: 460px;
    padding: 0 5px;
}
.cards .card{
  margin: auto;
  margin-top: 20px;
  position: static;
  transform: scale(0.85,0.85);
  cursor: pointer;
}
.cards .card_selected::after{
  content: "";
  display: block;
  width: 120%;
  height: 115%;
  border: 10px solid #a00;
  opacity: 0.3;
  position: absolute;
  top: -50px;
  left: -15%;
  margin: auto;
  border-radius: 30px;
}
// .cardNo{
//   text-align: center;
//   padding-top: 10px;
// }
.slick-dots{
    position: absolute;
	text-align: center;
    margin: 10px 0 10px 0;
    padding: 0;
    li{
        display:inline-block;
        margin-left: 4px;
        margin-right: 4px;
        &.slick-active{
            button{
                background-color:black;
            }
        }
        button{
            display: none;
            font: 0/0 a;
            text-shadow: none;
            color: transparent;
            background-color:#999;
            border:none;
            width: 15px;
            height: 15px;
            border-radius:50%;
        }
        :hover{
            background-color: black;
            cursor: pointer;
        }
    }
}

.prev{
	position: absolute;
	top: calc(50% - 30px);
    left: -10px;
    cursor: pointer;
}

.next{
	position: absolute;
	top: calc(50% - 30px);
    right: -10px;
    cursor: pointer;
}

.arrow_left,.arrow_right{
    width: 15px;
    height: 15px;
    cursor: pointer;
    border-left: 4px solid #999;
    border-bottom: 4px solid #999;
}

.arrow_left{
    transform: rotate(45deg);
}

.arrow_right{
    transform: rotate(-135deg);
}

.arrow_left:hover,.arrow_right:hover{
    border-left: 4px solid black;
    border-bottom: 4px solid black;
    // transition: .3s;
}

#radar_wrapper{
    display: none;
}

#lightbox .nextStepBtn_d{
    position: absolute;
    bottom: 30px;
    right: 0;
    left: 0;
    margin: auto;
    width: 100px;
}
.btn_b.nextStep{
    color: #fff;
    background-color: #000;
    font-size: 14px;
    padding: 10px 20px;
    border-radius: 50px;
    text-align: center;
    cursor: pointer;
}
@media screen and (min-width: 768px) {
  .cards .card{
    margin-top: 20px;
    transform: scale(0.85,0.85);
  }

  .cards .card_selected{
    transform: scale(0.88,0.88);  
  }
}

@media screen and (min-width: 1200px){
  #lightbox{
    display: flex;
  }
  .chooseCard_d{
    width: 75%;
    margin-left: 0; 
  }
    #radar_wrapper{
      display: block;
      width: 280px;
      height: 300px;
      position: relative;
      top: 200px;
      right: 0;
  }
  
}